{% extends 'owner_dashboard.jinja2' %}


{% block module %}

{% from '_macros.jinja2' import render_form %}
{% from '_macros.jinja2' import render_field %}

<h1 class="text-center mb-3">{{ title }}</h1>

<div class="container">
    <form action=""
          enctype="multipart/form-data"
          method="post">
        <div class="row">
            {{ form.hidden_tag() }}
            {{ render_form(form, render_title=1) }}

            <div class="col-5">
                <div class="row">
                    {{ form.save(class="btn btn-success") }}
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-5">
                <div class="row">
                    <a href="{{ url_for('tuition.index') }}"
                       class="btn btn-danger"
                       tabindex="-1"
                       role="button"
                       aria-disabled="true">Cancelar</a>
                </div>
            </div>

        </div>
    </form>

</div>

{% endblock module %}