{% extends 'owner_dashboard.jinja2' %}

{% block module %}

<h1>Alumnos</h1>

<a class="btn btn-primary mb-3"
   hx-get=" {{ url_for('students.add_form')}} "
   hx-push-url="true"
   hx-replace-url="true"
   hx-target="#module">
    <i class="bi bi-plus-circle"></i>
    Agregar alumno
</a>

<div class="container-fluid">
    <div class="table-responsive my-4">
        <table class="table text-center"
               id="mainTable">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Nombre</th>
                    <th>último pago</th>
                    <th>Siguiente pago</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}

                <tr>
                    <td data-label="Actions">
                        <a href=""
                           class="btn btn-warning mb-3"
                           tabindex="-1"
                           role="button"
                           aria-disabled="true">Editar</a>
                        <form action=""
                              method="post">
                            <button type="submit"
                                    class="btn btn-danger">
                                Eliminar
                            </button>
                        </form>
                    </td>
                    <td data-label="Nombre">
                        {{ student.user.person.name }}
                    </td>
                    <td data-label="último pago">
                        {{ student.last_payment_date }}
                    </td>
                    <td data-label="Siguiente pago">
                        {{ student.next_payment_date }}
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock module %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/dataTable.js') }}"></script>

{% endblock scripts %}