<h1 class="text-center mb-3">THis a exmaple</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sapiente, numquam reprehenderit unde sunt, atque
    eveniet dolores blanditiis non nobis sed in deserunt! Modi quas consequatur cupiditate fugiat ipsum quibusdam?</p>

{% include "alerts.jinja2" %}